<section id="about" class="about">
  <div class="container">
    <h2 class="tac"><span>О компании</span> Horecoff</h2>
    <p class="tac">
      Мы представлены на рынке с 2016 года. Наша миссия: продвигать кофейню культуру в массы. 
      Имеем более 50 клиентов по большому сочи и более 200 единиц оборудования. Постоянно учимся, 
      посещаем выставки и профессиональные форумы, чтобы быть в курсе тенденций. Кофе для нас - 
      это больше напиток, это стиль жизни.
    </p>
    <div class="goals-wrap">
      <div class="goals-item">
        <div class="goals-pic">
          <img src="icon/gbs.svg" alt="3men" />
        </div>
        <div class="goals-text">Лучшие поставщики и обжарщики кофейных зёрен</div>
      </div>
      <div class="goals-item">
        <div class="goals-pic">
          <img src="icon/prz.svg" alt="bunnyears" />
        </div>
        <div class="goals-text">Высокий сервис и качественное сопровождение</div>
      </div>
      <div class="goals-item">
        <div class="goals-pic">
          <img src="icon/box.svg" alt="box" />
        </div>
        <div class="goals-text">Индивидуальный подход при подборе бленда</div>
      </div>
      <div class="goals-item">
        <div class="goals-pic">
          <img src="icon/btr.svg" alt="weelborow" />
        </div>
        <div class="goals-text">Расширение ассортимента и оборудования</div>
      </div>
    </div>
    <div class="beans left">
      <img src="img/beans/b_b_lt.png" alt="" />
    </div>
  </div>
</section>

