<section id="kofe" class="kofe">
  <div class="container ko">
    <h2 class="kf">
      Всегда находим нужный подход<br>
      <div class="kff">к любым вашим "хочу"</div>
    </h2>

    <div class="k1 k11">
      <div class="text-block zerno">
        Хочу ни о чем <b>не беспокоиться</b>, чтобы подобрали кофе, оборудование и всему научили
      </div>
      <div class="text-block zerno tr">
        Хочу <b>индивидуальный подход</b>, чтобы понимали с полуслова и превосхищали желания
      </div>
    </div>

    <div class="k1 k12">
      <div class="text-block zerno">
        Хочу <b>классный сервис</b>, чтобы можно было обратиться по любому вопросу и его сразу решали
      </div>
      <div class="text-block zerno tr">
        Хочу <b>бесплатную доставку</b>, строго по времени и в любом количестве
      </div>
    </div>

    <div class="k1 k11">
      <div class="text-block zerno">
        Хочу <b>большой ассортимент</b> ингридиентов и оборудования для приготовления напитков
      </div>
      <div class="text-block zerno tr">
        Хочу <b>адекватную цену</b>, чтобы стоимость была оправдана качеством
      </div>
    </div>

    <div class="k2">
      <div class="zerno">Хочу вкусный кофе, который <b>хвалят гурманы</b></div>
    </div>
  </div>
</section>

