<section id="uslugi" class="uslugi">
  <div class="container">
    <h2 class="kf">
      <div class="kff">Наше кофе - заряжает энергией,</div>
      Наши услуги - вдохновляют к сотрудничеству
    </h2>

    <div class="usrow">
      <div class="usblock" id="coffee_range">
        <div class="usw">
          <img src="/img/zern-kofe.jpg" alt="Зерновой кофе" />
          <h3>Зерновой кофе</h3>
        </div>
        <div class="uso">
          <ul>
            <li>собственный бленд horecoff espresso #1</li>
            <li>более 50 уникальных сортов: моносорта и бленды</li>
            <li>индивидуальная обжарка под любой способ приготовления</li>
          </ul>
        </div>
      </div>
      <div class="usblock">
        <div class="usw">
          <img src="/img/obor.jpg" alt="Оборудование" />
          <h3>Оборудование</h3>
        </div>
        <div class="uso">
          <div class="usb">Продажа и аренда:</div>
          <ul>
            <li>суперавтоматы (Dr.Coffee, Unicum Nero, Saeco Phedra)</li>
            <li>классические (Estremo, Carimalli)</li>
            <li>термопоты</li>
            <li>аксессуары для бариста (коврики для темпинга, ложки для каппинга, темперы, воронки)</li>
          </ul>
        </div>
      </div>
      <div class="usblock">
        <div class="usw">
          <img src="/img/obuc.jpg" alt="Обучение" />
          <h3>Обучение</h3>
        </div>
        <div class="uso">
          <ul>
            <li>на нашем или клиентском оборудовании</li>
            <li>основы приготовления напитков</li>
            <li>базовые навыки бариста</li>
            <li>разработка фирменных рецептов</li>
          </ul>
        </div>
      </div>
      <div class="usblock">
        <div class="usw">
          <img src="/img/tov.jpg" alt="Сопутствующие товары" />
          <h3>Сопутствующие товары</h3>
        </div>
        <div class="uso">
          <ul>
            <li>стаканы</li>
            <li>крышки</li>
            <li>размешиватели</li>
            <li>стикированный сахар</li>
          </ul>
        </div>
      </div>
      <div class="usblock" id="ingredients">
        <div class="usw">
          <img src="/img/ing.jpg" alt="Ингредиенты" />
          <h3>Ингредиенты</h3>
        </div>
        <div class="uso">
          <ul>
            <li>молоко</li>
            <li>шоколад</li>
            <li>сиропы, топпинги</li>
            <li>листовой и пакетированный чай, мята</li>
          </ul>
        </div>
      </div>
      <div class="usblock" id="servis">
        <div class="usw">
          <img src="/img/ser.jpg" alt="Сервис" />
          <h3>Сервис</h3>
        </div>
        <div class="uso">
          <ul>
            <li>бесплатная аренда оборудования</li>
            <li>помощь в выборе</li>
            <li>ремонт и обслуживание</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

