<div class="gline_long"></div>
<footer id="footer" class="footer">
  <div class="container">
    <div class="footer_top">
      <div class="footer_links">
        <div class="footer_header">Разделы</div>
        <div class="footer_wrapper">
          <div class="footer_links_wrap">
            <div class="footer_link">
              <a href="#">Начало</a>
            </div>
            <div class="footer_link">
              <a href="#gears">Оборудование</a>
            </div>
            <div class="footer_link">
              <a href="#coffee_range">Кофе</a>
            </div>
          </div>
          <div class="footer_links_wrap">
            <div class="footer_link">
              <a href="#ingredients">Ингредиенты</a>
            </div>
            <div class="footer_link">
              <a href="#about">О компании</a>
            </div>
            <div class="footer_link">
              <a href="#contacts">Контакты</a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer_contacts">
        <div class="footer_phone">
          <img src="/icon/address/phone.svg" alt="" />
          <div class="footer_phone_wrap">
            <div class="phone">
              <a href="tel:+79284450728">8 928 445 0728</a>
            </div>
            <div class="phone">
              <a href="tel:+79388885877">8 938 888 5877</a>
            </div>
          </div>
        </div>
        <div class="footer_mail">
          <img src="/icon/address/mail.svg" alt="" />
          <div class="footer_mail_wrap">
            <div class="mail">
              <a href="mailto:sochicoffee.valentina@gmail.com">sochicoffee.valentina@gmail.com</a>
            </div>
            <div class="mail">
              <a href="mailto:ooohorecoff@gmail.com">ooohorecoff@gmail.com</a>
            </div>
          </div>
        </div>
        <div class="footer_map">
          <img src="/icon/address/map.svg" alt="" />
          <div class="footer_map_wrap">
            <div class="map">
              <a href="https://yandex.ru/maps/-/CHAtR0Ks">
                г.Сочи, <br>пер. Виноградный 5<br>2 этаж, офис №1
              </a>
            </div>
          </div>
        </div>
        <div class="footer_social">
          <div class="header_social">
            {{!-- Social links are hidden for now --}}
          </div>
        </div>
      </div>
      <div class="footer_gmap">
        <div style="position:relative;overflow:hidden;">
          <a href="https://yandex.ru/maps/239/sochi/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Сочи</a>
          <a href="https://yandex.ru/maps/239/sochi/house/vinogradny_pereulok_5/Z0AYcQZoTU0OQFppfXpyc39rYQ==/?ll=39.719084%2C43.632478&utm_medium=mapframe&utm_source=maps&z=17" style="color:#eee;font-size:12px;position:absolute;top:14px;">Виноградный переулок, 5 на карте Сочи — Яндекс Карты</a>
          <iframe src="https://yandex.ru/map-widget/v1/?ll=39.719084%2C43.632478&mode=whatshere&utm_source=share&whatshere%5Bpoint%5D=39.718489%2C43.632385&whatshere%5Bzoom%5D=17&z=17" width="300" height="300" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_documents">
    <div class="footer_documents_wrap">
      <a href="#" class="footer_document_link" data-document="pers_data_agreement">Согласие на обработку персональных данных</a>
      <a href="#" class="footer_document_link" data-document="confidence_policy">Политика конфиденциальности</a>
    </div>
  </div>
  <div class="footer_bot">
    <div class="rights">
      Horecoff © <span class="copyright-year"></span> All rights reserved
    </div>
    <div class="madeby">
      Made by <a href="https://anton-zolf.su/">Anton-ZolF</a> & <a href="https://ostkost.ru">OstKost</a>
    </div>
    <div class="social_bot">
      <div class="social_bot_wrap">
        <img src="icon/social_creators/facebook.svg" alt="facebook" />
        <img src="icon/social_creators/instagram.svg" alt="instagram" />
        <img src="icon/social_creators/twitter.svg" alt="twitter" />
      </div>
    </div>
  </div>
</footer>

