<section class="menu2">
  <div class="container">
    <div class="ml">
      <a href="#coffee_range">Кофе</a>
      <a href="#ingredients">Ингредиенты</a>
      <a href="#gears">Оборудование</a>
      <a href="#servis">Сервис</a>
      <a href="#about">О компании</a>
    </div>
    <div class="mr">HORECOFF</div>
  </div>
</section>

