<section class="menu">
  <div class="menu__block">
    <div class="menu__close">
      <svg width="23" height="23" viewBox="0 0 40 40">
        <g class="currentLayer">
          <path
              fill="#000000"
              fill-opacity="1"
              stroke="#222222"
              stroke-opacity="1"
              stroke-width="7"
              d="M40,1 L1,37 "
              id="svg_1"
          ></path>
          <path
              fill="#0d0d0d"
              fill-opacity="1"
              stroke="#222222"
              stroke-opacity="1"
              stroke-width="7"
              d="M2,2 L40,37 "
              id="svg_3"
          ></path>
        </g>
      </svg>
    </div>
    <nav>
      <ul class="menu__list">
        <li class="menu__link">
          <a href="#about">О КОМПАНИИ</a>
        </li>
        <li class="menu__link">
          <a href="#gears">ОБОРУДОВАНИЕ</a>
        </li>
        <li class="menu__link">
          <a href="#coffee_range">КОФЕ</a>
        </li>
        <li class="menu__link">
          <a href="#ingredients">ИНГРЕДИЕНТЫ</a>
        </li>
        <li class="menu__link">
          <a href="#contacts">КОНТАКТЫ</a>
        </li>
      </ul>
    </nav>
    <div class="menu_social">
      <a href="#">
        <svg width="42" height="41" viewBox="0 0 42 41" fill="none">
          <use href="#twitter"></use>
        </svg>
      </a>
      <a href="#">
        <svg width="42" height="41" viewBox="0 0 42 41" fill="none">
          <use href="#facebook"></use>
        </svg>
      </a>
      <a href="#">
        <svg width="42" height="41" viewBox="0 0 42 41" fill="none">
          <use href="#linkedin"></use>
        </svg>
      </a>
    </div>
  </div>
  <div class="menu__overlay"></div>
</section>

