<div id="popup" class="popup">
  <div class="popup__body">
    <div class="popup__content">
      <div class="popup__title">Unicum Nero Espresso</div>
      <div class="popup__about">
        <div class="popup__img">
          <img src="/img/coffgear.png" alt="coffgear" />
        </div>
        <div class="popup__text">
          Эргономичный и многофункциональный настольный кофейный аппарат высокой
          производительности. Автомат готовит напитки на основе зернового кофе и
          растворимых ингредиентов. <br />

          Оснащен графическим дисплеем, удобными механическими кнопками с крупной
          маркировкой. Ряд особенностей этой модели значительно упрощает ее
          обслуживание, Saeco Phedra EVO отличают особый механизм открытия дверей
          и новые модули дозировки ингредиентов. Для шведской линии преимуществом
          использования именно этих кофемашин является полностью подстраиваемое
          под Вашу кофейную карту табло с напитками: все кнопки программируются
          под необходимый Вам ассортимент и объем, имеют верные названия. SAECO –
          это настоящее итальянское качество, проверенное временем и миллионами
          довольных клиентов.
        </div>
      </div>
      <div class="popup__tech">
        <div class="popup__title fz26">Технические характеристики</div>
        <div class="popup__tech_wrap"></div>
        <template>
          <div class="popup__tech_wrap">
            <div class="popup__tech_item">
              <div class="popup__tech_name">Габариты (ВxШxГ)</div>
              <div class="popup__tech_num">70x 50 x 39</div>
            </div>
            <div class="popup__tech_item">
              <div class="popup__tech_name">Количество групп</div>
              <div class="popup__tech_num">1</div>
            </div>
            <div class="popup__tech_item">
              <div class="popup__tech_name">Используемый кофе</div>
              <div class="popup__tech_num">молотый / зерновой</div>
            </div>
            <div class="popup__tech_item">
              <div class="popup__tech_name">Раздельные бойлеры</div>
              <div class="popup__tech_num">есть</div>
            </div>
            <div class="popup__tech_item">
              <div class="popup__tech_name">Мощность</div>
              <div class="popup__tech_num">1550 Вт</div>
            </div>
            <div class="popup__tech_item">
              <div class="popup__tech_name">Объем</div>
              <div class="popup__tech_num">1.8 л</div>
            </div>
            <div class="popup__tech_item">
              <div class="popup__tech_name">Дисплей</div>
              <div class="popup__tech_num">есть, с подсветкой</div>
            </div>
            <div class="popup__tech_item">
              <div class="popup__tech_name">Настройки</div>
              <div class="popup__tech_num">
                контроль крепости кофе, регулировка порции горячей воды
              </div>
            </div>
            <div class="popup__tech_item">
              <div class="popup__tech_name">Приготовление капучино</div>
              <div class="popup__tech_num">
                есть, автоматическое приготовление
              </div>
            </div>
            <div class="popup__tech_item">
              <div class="popup__tech_name">Тип напитка</div>
              <div class="popup__tech_num">латте, капучино, эспрессо</div>
            </div>
            <div class="popup__tech_item">
              <div class="popup__tech_name">Подключение к водопроводу</div>
              <div class="popup__tech_num">есть</div>
            </div>
            <div class="popup__tech_item">
              <div class="popup__tech_name">
                Одновременное приготовление двух чашек
              </div>
              <div class="popup__tech_num">есть</div>
            </div>
            <div class="popup__tech_item">
              <div class="popup__tech_name">Подача горячей воды</div>
              <div class="popup__tech_num">есть</div>
            </div>
            <div class="popup__tech_item">
              <div class="popup__tech_name _maxpresure">
                Максимальное давление
              </div>
              <div class="popup__tech_num _maxpresure_sub">15 Бар</div>
            </div>
          </div>
        </template>
      </div>
      <div class="menu__close popup__close close-popup">
        <svg width="23" height="23" viewBox="0 0 40 40">
          <g class="currentLayer">
            <path
                stroke="#C3C3C4"
                stroke-opacity="1"
                stroke-width="7"
                d="M40,1 L1,37 "
                id="svg_1"
            ></path>
            <path
                stroke="#C3C3C4"
                stroke-opacity="1"
                stroke-width="7"
                d="M2,2 L40,37 "
                id="svg_3"
            ></path>
          </g>
        </svg>
      </div>
    </div>
  </div>
</div>

<div id="popup-document" class="popup popup--document">
  <div class="popup__body">
    <div class="popup__content popup__content--document">
      <div class="popup__header">
        <a href="#" class="popup__title popup__title--document"></a>
        <div class="popup__header-actions">
          <a href="#" class="popup__download-btn" download>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
              <use href="#download"></use>
            </svg>
          </a>
          <div class="menu__close popup__close close-popup">
            <svg width="23" height="23" viewBox="0 0 40 40">
              <g class="currentLayer">
                <path
                    stroke="#C3C3C4"
                    stroke-opacity="1"
                    stroke-width="7"
                    d="M40,1 L1,37 "
                    id="svg_1"
                ></path>
                <path
                    stroke="#C3C3C4"
                    stroke-opacity="1"
                    stroke-width="7"
                    d="M2,2 L40,37 "
                    id="svg_3"
                ></path>
              </g>
            </svg>
          </div>
        </div>
      </div>
      <div class="popup__document-content"></div>
    </div>
  </div>
</div>

