@use '../base/variables' as *;
@use '../base/mixins' as *;
.about {
  padding-top: 0.1px;
}

.goals-wrap {
  margin-top: $spacing-xxxl;
  display: flex;
  justify-content: center;
  column-gap: 52px;

  @include respond-to(lg) {
    padding: 0 $spacing-xxl;
  }

  @include respond-to(md) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: $spacing-lg;
    padding-bottom: $spacing-xl;
  }

  @include respond-to(xs) {
    grid-template-columns: 1fr;
    gap: $spacing-md;
    padding-bottom: $spacing-md;
  }
}

.goals-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 272px;

  @include respond-to(md) {
    max-width: 250px;
  }
}

.goals-text {
  margin-top: $spacing-xs;
  font-size: $font-size-large;
  color: $text-primary;
  text-align: center;
}

.goals-pic {
  img {
    // Icon styles
  }
}

.beans {
  position: absolute;
  display: none;

  &.left {
    top: 888px;
    left: 0;
  }
}

.gline {
  padding-left: $spacing-lg;
  border-left-color: $color-salad;
  border-left-style: solid;
  border-left-width: 10px;

  @include respond-to(md) {
    border-left-style: none;
    padding: 0;
  }
}

.gline_long {
  background-color: $color-salad;
  width: 100%;
  height: 2px;
}

.line {
  border: 2px solid $color-coffee;
  width: 99%;
  height: 0;
}

.disabled {
  display: none;
}

.centered {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

