@use '../base/variables' as *;
@use '../base/mixins' as *;
.apparatus {
  // Section base styles
}

.apph {
  text-transform: uppercase;
  text-align: center;
  font-size: $font-size-xl;
  margin: $spacing-xs 0;
  color: $color-salad;
}

.appo {
  display: flex;
  align-items: center;
  gap: $spacing-md;
  justify-content: center;

  @include respond-to(md) {
    flex-direction: column;
  }
}

.photo {
  flex: 1;
  max-width: 400px;
  height: auto;

  @include respond-to(md) {
    width: 90%;
  }
}

.description {
  .appz {
    margin-top: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: $font-size-large;
    color: $text-primary;
  }
}

.columns {
  display: flex;
  gap: $spacing-md;
  margin: $spacing-xs 0 0 0;
}

.column {
  flex: 1;

  p {
    font-size: 22px;
    padding: 0;
    margin: 0;
    height: 60px;
  }
}

.apparatus__container {
  width: 100%;
  position: relative;
  margin-top: $spacing-xxl;

  &:hover {
    .apparatus__control-btn {
      opacity: 1;
    }
  }
}

.apparatus__slider {
  -ms-scroll-snap-type: inline mandatory;
  scroll-snap-type: inline mandatory;
  display: flex;
  overflow: scroll;
  list-style: none;
  margin: 0;
  padding: 0;
  column-gap: $spacing-xxl;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @include respond-to(md) {
    column-gap: $spacing-lg;
  }

  @include respond-to(sm) {
    column-gap: $spacing-md;
  }
}

.apparatus__slider-item {
  width: 25%;
  scroll-snap-align: start;

  @include respond-to(xxl) {
    width: 33.3%;
  }

  @include respond-to(sm) {
    width: 50%;
    margin-right: $spacing-xs;
  }
}

.apparatus__control-btn {
  z-index: 2;
  cursor: pointer;
  font-size: 1.5rem;
  color: #fff;
  border-radius: $border-radius-circle;
  width: 60px;
  height: 60px;
  position: absolute;
  top: calc(50% - 30px);
  left: -25px;
  transition: $transition-fast;
  opacity: 0;
  background: $bg-footer url(/icon/left-chevron.svg);

  &:hover {
    background-color: #fff;
  }

  &:last-of-type {
    transform: rotate(180deg);
    left: auto;
    right: -25px;
  }

  @include respond-to(md) {
    display: none;
  }
}

.apparatus {
  .apparat {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    min-width: 322px;
    width: 322px;
    height: 443px;
    padding-bottom: 25px;
    border-radius: $border-radius-md;
    background: $bg-secondary;
    cursor: pointer;
    transition: $transition-normal;

    &:hover {
      background: $bg-hover;

      .apparat__btn {
        background: $bg-blue-hover;
      }
    }

    @include respond-to(xxl) {
      min-width: auto;
      width: 280px;
      height: 340px;
    }

    @include respond-to(sm) {
      min-width: auto;
      width: 180px;
      height: 240px;
    }
  }

  .apparat__image {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .apparat__name {
    z-index: 1;
    padding-bottom: $spacing-sm;
    font-weight: $font-weight-bold;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0.3px;
    color: $text-primary;
    text-shadow: $shadow-text;

    @include respond-to(sm) {
      text-align: center;
      padding: $spacing-xs;
      font-size: $font-size-small;
    }
  }

  .apparat__btn {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $spacing-xs $spacing-xl;
    border-radius: $border-radius-button;
    background: $color-blue;
    font-weight: $font-weight-bold;
    font-size: $font-size-base;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.5px;
    color: $text-primary;
    transition: $transition-normal;

    @include respond-to(sm) {
      font-size: 12px;
    }
  }
}

