@use 'variables' as *;
@use 'mixins' as *;

* {
  font-family: $font-family-primary;
}

html {
  scroll-behavior: smooth;
}

article,
footer,
header,
nav {
  display: block;
}

h2 {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: $font-weight-bold;
  font-size: $font-size-h2;
  letter-spacing: 1px;
  color: $text-primary;

  span {
    font-family: $font-family-primary;
    font-size: $font-size-h2;
    font-style: normal;
    font-weight: $font-weight-normal;
    line-height: 55px;
    letter-spacing: 0.2px;
    text-align: center;
  }

  @include respond-to(sm) {
    padding: 0 55px;
    font-size: $font-size-h2-mobile;

    span {
      font-size: $font-size-h2-mobile;
    }
  }
}

p {
  margin-top: 27px;
  font-size: $font-size-xl;
  color: $text-primary;

  @include respond-to(sm) {
    margin-top: 17px;
    font-size: $font-size-medium;
  }
}

// Utility classes
.tac {
  text-align: center;
}

.fz24 {
  font-size: $font-size-large;
}

.fz30 {
  font-size: $font-size-xl;
}

.mt10 {
  margin-top: $spacing-xs;
}

.mt10_576 {
  @include respond-to(sm) {
    margin-top: $spacing-xs;
  }
}

// Color utility classes
.salad {
  color: $color-salad;
}

.black {
  color: $color-black;
}

.coffee {
  color: $color-coffee;
}

.chocolate {
  color: $color-chocolate;
}

.white {
  color: $color-white;
}

.yellow {
  color: $color-yellow;
}

.asph {
  color: $color-asph;
}

.gray {
  color: $color-gray;
}

.skin {
  color: $color-skin;
}

.orange {
  color: $color-orange;
}

.red {
  color: $color-red;
}

.green {
  color: $color-green;
}

.blue {
  color: $color-blue;
}

